.nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-black{
    transition: 500ms;
    background-color: #111;;
}

.nav-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.nav-logo{
    width: 125px;
    cursor: pointer;
}

.nav-avatar{
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;    
}